<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Course Works</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Course Works', course_works_path %></div>
      <div class="breadcrumb-item">New Course Work</div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>New Course Work</h4>
      </div>
      <div class="card-body">
        <%= render 'form', course_work: @course_work %>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('far fa-arrow-left', 'Back'), course_works_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'New Course Work') %>
