<section class="section">
  <div class="section-header d-mobile-none">
    <h1><%= t('.title') %></h1>
  </div>
  <p class="lead"><%= t('.app_name') %></p>
  <p class="copyright"><%= t('.copyright') %></p>
  <p><%= t('.contact') %>: <a href="mailto:tiberiu.fratila@gmail.com">tiberiu.fratila@gmail.com</a></p>
</section>

<% content_for(:page_title, t('.title')) %>
