<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Drive Files</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Drive Files', drive_files_path %></div>
      <div class="breadcrumb-item">New Drive File</div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>New Drive File</h4>
      </div>
      <div class="card-body">
        <%= render 'form', drive_file: @drive_file %>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('far fa-arrow-left', 'Back'), drive_files_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'New Drive File') %>
