<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Course Work Materials</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Course Work Materials', course_work_materials_path %></div>
      <div class="breadcrumb-item">New Course Work Material</div>
    </div>
  </div>
  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>New Course Work Material</h4>
      </div>
      <div class="card-body">
        <%= render 'form', course_work_material: @course_work_material %>
      </div>
    </div>
  </div>
</section>

<%= link_to icon('far fa-arrow-left', 'Back'), course_work_materials_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<% content_for(:page_title, 'New Course Work Material') %>
