// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nav-link .badge-transparent {
  color: #fff;
  background-color: #6777ef;
}

.nav-link.active .badge-transparent {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}

.alert.alert-has-icon {
  align-items: baseline;
}

.alert.alert-has-icon .alert-body {
  display: flex;
  justify-content: space-between;
}

.card.course-card {
  height: 310px;
  position: relative;
}

.card.course-card .card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card.course-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
